/*************************
**********@global*********
*************************/
 
* {
	margin: 0;
	padding: 0;
}
body {
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	width: 640px;
	margin: 0 auto;
	letter-spacing: 1px;
	background: #fff;
	color: #000;
}
header {
	margin-top: 50px;
}
article {
	font-size: 1em;
	line-height: 2;
	margin-bottom: 10px;
}
p {
	margin: 20px 0;
}
a:link, a:visited {
	color: #f00;
	text-decoration: none;
	padding-bottom:1px;
}
a:hover, a:focus, a:active {
	border-bottom: 1px dashed #f00;
	padding-bottom:0;
}
strong {
	font-weight: bold;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
/*************************
**********@header*********
*************************/
header hgroup {
	ul {
		list-style-type: none;
		float:right;
		li {
			float: left;
			list-style-type: none;
			margin-left: 15px;
		}
	}
	a {
			&:link, &:visited {
				color: #000;
			}
			&:hover, &:focus, &:active {
				color: #f00;
				border: 0;
			}
		}
	h1 {
		font-size: 3em;
		font-weight: 300;
	}
	h2 {
		color: #999;
		font: 1em "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
		font-style: italic;
		margin-top: 10px;
	}
}

/*************************
**********@article********
*************************/
header {
	p.meta {
		margin: 0;
	}
}
blockquote {
		border-left: 8px #f00 solid;
		padding: 0 15px;
		background: #fef6f6;
}
div.pagination {
	overflow: hidden;
	margin-bottom: 10px;
	.prev {
		float: left;
		margin-bottom: 1px;
	}
	.next {
		float: right;
		margin-bottom: 1px;
	}
}
article {
	ol li img, ul li img {
		margin: 10px 0;
	}
	img {
		-moz-box-shadow: 0px 3px 12px #acb5c4;
		-webkit-box-shadow: 0px 3px 12px #acb5c4;
		box-shadow: 0px 3px 12px #acb5c4;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	h1, h2, h3, h4 {
		font-family: "Lucida Grande", Helvetica, 'Hiragino Sans GB', "Hiragino Sans GB W6", "Microsoft YaHei", sans-serif;
		font-weight: normal;
	}
	footer {
		float: none;
		padding: 0;
		line-height: 1.2;
		p.meta {
			overflow: hidden;
			.left {
				margin-bottom: 1px;
				float: left;
			}
			.right {
				margin-bottom: 1px;
				float: right;
			}
		}
	}
}
#blog-archives {
	p {
		margin: 10px;
	}
	time {
		color: #999;
	}
}
#disqus_thread {
	a {
		&:link, &:visited {
			padding-bottom: 0;
		}
		&:hover, &:focus, &:active {
			border: 0;
		}
	}
}


/*************************
**********@footer********
*************************/

footer {
	color: #999;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #ccc;
	text-align: right;
}

