/*@import "reset.css"; */
@import "backgroud.css";

/* Global Styling */

html{
	background: #000000;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
}

body{
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
}


/* Content */

.content{width:830px; margin:0px auto; position: relative;}

.logo{
    font-family: 'Fredericka the Great', cursive;
	font-style:italic;
	font-size:60px;
	color:#fff;
	width:319px;
	height:105px;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	text-align:center;
	margin:48px auto 0px auto;
}

.intro {
    font-family: 'Great Vibes', cursive;
    /*font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	font-size:35px;
	color: #FFFF33;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	text-align:center;
}

/*.logo span{display:none;}*/

.body-line{
	width:445px;
	height:1px;
	margin:24px auto 0px auto;
	background: rgba(54, 46, 49, 0.6);
	border-bottom:1px solid rgba(255, 255, 255, 0.4);
}

.refinfo{
	width:830px;
	font-size:30px;
	line-height:1.2;
	color:#fff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	text-align:center;
	margin:12px auto;
}

form {
	width: 390px;
	margin: 0 auto;
}

#not-found a {
	color:#ccc;
	text-decoration: none;
}
#not-found a:hover {
	color: white;
	text-decoration: underline;
}



/* Input Content 

form{width:830px; margin:24px auto;}*/
/*
.object-input {
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:42px;
	color:#fff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.60);
	border:1px solid rgba(255, 255, 255, 0.6);
	width:344px;
	height:33px;
	padding:12px 48px 12px 12px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.object-input:focus {
	box-shadow: 0 0 20px rgba(200, 200, 200, 1);
	-webkit-box-shadow: 0 0 20px rgba(200, 200, 200, 1); 
	-moz-box-shadow: 0 0 20px rgba(200, 200, 200, 1); 
}

.object-input:blur {
	box-shadow: none;
}
*/

.submit-btn {
	background: url(../image/arrow.png) 0 0px no-repeat;
	width:24px;
	height:24px;
	margin-top:-37px;
	padding-bottom:24px;
	border:none;
	cursor:pointer;
	float: right;
}

.submit-btn:hover {
	background: url(../image/arrow.png) 0 -26px no-repeat;
}

/* Footer Content */

.credits{
	width:180px;
	position:absolute;
	bottom:24px;
	left:50%;
	margin-left:-90px;
	text-align:center;
	color:#fff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
}

/* Hidden content */
#courseList, #not-found {
	display: none;
}

#courses .ui-selecting { 
	background: #FECA40; 
}

#courses .ui-selected { 
	background: #F39814; 
	color: white; 
}

#courses { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#courses li { 
	float:left; 
	margin: 1px; 
	font-size: 13px; 
	width:250px; 
}
