body{
	font: 14px/150% "Arial", Verdana, sans-serif;
	text-align:center;
	background:#111;
	color:#fff;
}
h2 {
	font-size:14px;
	font-weight:bold;
}
.book {
	position:relative;
	float:left;
	margin:20px;
	width:128px;
	height:167px;
	border:1px solid #555;
	overflow:hidden;
}
.book .detail{
	opacity: .8;
	position:absolute;
	top:0;
	left:0;
	margin-left:-200px;
	-webkit-transition: margin-left;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 250ms;
	font-size:12px;
	background:#000;
	width:128px;
	height:167px;
}
li.book:hover .detail,
li.book:focus .detail {
	margin-left:0;
}
